In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("housing.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2832 entries, 0 to 2831
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   bairro               2832 non-null   object
 1   endereco             2832 non-null   object
 2   quartos              2832 non-null   int64
 3   tipo                 2832 non-null   object
 4   preco                2832 non-null   float64
 5   distancia_aeroporto  2832 non-null   float64
 6   cep                  2832 non-null   float64
 7   banheiros            2832 non-null   int64
 8   vagas                2832 non-null   int64
 9   area_terreno         2832 non-null   float64
 10  area_construida      2832 non-null   float64
 11  ano_construcao       2832 non-null   float64
 12  latitude             2832 non-null   float64
 13  longitude            2832 non-null   float64
dtypes: float64(8), int64(3), object(3)
memory usage: 309.9+ KB

**Criando função personalizada para aplicação em uma Series:**

In [3]:
# Definindo se a distância até o aeroporto é "curta" ou "longa" a partir de uma condição específica

def pert_long(dist):
  if dist > 3.5:
    return "Longa"
  else:
    return "Curta"

In [16]:
df["Distancia"] = df.distancia_aeroporto.apply(pert_long)
df.drop(labels = "Distância", axis = 1, inplace = True)

In [17]:
df.head()

,bairro,endereco,quartos,tipo,preco,distancia_aeroporto,cep,banheiros,vagas,area_terreno,area_construida,ano_construcao,latitude,longitude,Distancia
0,Collingwood,2/79 Oxford St,2,kitnet,855000.0,1.6,3066.0,1,1,2886.0,122.0,1830.0,-37.8042,144.9845,Curta
1,Fitzroy,52 Nicholson St,4,casa,3310000.0,1.6,3065.0,4,2,337.0,291.0,1854.0,-37.8052,144.9739,Curta
2,Parkville,152 Park Dr,2,casa,2200000.0,2.6,3052.0,2,1,190.0,172.0,1875.0,-37.7928,144.9575,Curta
3,Carlton,100 Faraday St,2,casa,1010000.0,1.8,3053.0,1,0,101.0,60.0,1880.0,-37.7989,144.9713,Curta
4,Fitzroy North,470 Brunswick St,2,casa,860000.0,3.5,3068.0,1,0,104.0,70.0,1880.0,-37.7927,144.9796,Curta

In [19]:
# Criando coluna a partir de operação com outras colunas do Data Frame
df.eval("razao_area = area_construida / area_terreno", inplace = True)
df.head()

,bairro,endereco,quartos,tipo,preco,distancia_aeroporto,cep,banheiros,vagas,area_terreno,area_construida,ano_construcao,latitude,longitude,Distancia,razao_area
0,Collingwood,2/79 Oxford St,2,kitnet,855000.0,1.6,3066.0,1,1,2886.0,122.0,1830.0,-37.8042,144.9845,Curta,0.042273
1,Fitzroy,52 Nicholson St,4,casa,3310000.0,1.6,3065.0,4,2,337.0,291.0,1854.0,-37.8052,144.9739,Curta,0.863501
2,Parkville,152 Park Dr,2,casa,2200000.0,2.6,3052.0,2,1,190.0,172.0,1875.0,-37.7928,144.9575,Curta,0.905263
3,Carlton,100 Faraday St,2,casa,1010000.0,1.8,3053.0,1,0,101.0,60.0,1880.0,-37.7989,144.9713,Curta,0.594059
4,Fitzroy North,470 Brunswick St,2,casa,860000.0,3.5,3068.0,1,0,104.0,70.0,1880.0,-37.7927,144.9796,Curta,0.673077

In [22]:
# Filtrando a partir de distância para o aeroporto entre 1 e 3 
df[df.distancia_aeroporto.between(1,3)].head()

,bairro,endereco,quartos,tipo,preco,distancia_aeroporto,cep,banheiros,vagas,area_terreno,area_construida,ano_construcao,latitude,longitude,Distancia,razao_area
0,Collingwood,2/79 Oxford St,2,kitnet,855000.0,1.6,3066.0,1,1,2886.0,122.0,1830.0,-37.8042,144.9845,Curta,0.042273
1,Fitzroy,52 Nicholson St,4,casa,3310000.0,1.6,3065.0,4,2,337.0,291.0,1854.0,-37.8052,144.9739,Curta,0.863501
2,Parkville,152 Park Dr,2,casa,2200000.0,2.6,3052.0,2,1,190.0,172.0,1875.0,-37.7928,144.9575,Curta,0.905263
3,Carlton,100 Faraday St,2,casa,1010000.0,1.8,3053.0,1,0,101.0,60.0,1880.0,-37.7989,144.9713,Curta,0.594059
6,North Melbourne,12 Curzon St,2,casa,885000.0,2.3,3051.0,1,1,111.0,73.0,1880.0,-37.8044,144.9481,Curta,0.657658

# **Utilizando groupby:**

In [29]:
# Média dos preços a partir dos tipos

df[['tipo', 'preco']].groupby(by = "tipo").mean()

                    preco
tipo
apartamento  8.881973e+05
casa         1.352434e+06
kitnet       6.067495e+05

In [32]:
# Preço máximo a partir de tipo e número de quartos
df.groupby(by = ['tipo', 'quartos']).max()

                             bairro          endereco      preco  \
tipo        quartos
apartamento 1             Glen Iris  11/63 Edgar St N   345000.0
            2             Thornbury     66 Parsons St  1540000.0
            3            Yarraville     97 Haldane Rd  2700000.0
            4             Spotswood   81 Carpenter St  2900000.0
            5          Moonee Ponds      18A Fanny St   980000.0
casa        1              Richmond       9 Durham St  1435000.0
            2            Yarraville   99 Christmas St  2875000.0
            3            Yarraville   9a Elizabeth St  6250000.0
            4            Yarraville    99 Eglinton St  5700000.0
            5            Yarraville       97 Dendy St  8000000.0
            6        West Footscray       89 Kilby Rd  6500000.0
            7         Essendon West     6 Sapphire St  2600000.0
            8               Newport  487 Melbourne Rd  2950000.0
kitnet      1        West Footscray    8/98 George St   600000.0
            2            Yarraville  9/55 Moreland St  1260000.0
            3        West Footscray    9/69 Wattle Rd  2460000.0
            4              Hawthorn    78/8 Wallen Rd  1650000.0

                     distancia_aeroporto     cep  banheiros  vagas  \
tipo        quartos
apartamento 1                        9.2  3146.0          1      1
            2                       14.5  3205.0          2      3
            3                       14.6  3204.0          3      3
            4                       14.6  3204.0          4      3
            5                       13.0  3046.0          2      2
casa        1                       11.2  3206.0          2      1
            2                       14.9  3207.0          3      6
            3                       15.0  3207.0          4      7
            4                       15.0  3207.0          8      8
            5                       15.0  3207.0          5      6
            6                       14.7  3167.0          6      7
            7                        9.8  3104.0          3      3
            8                       11.0  3147.0          7      4
kitnet      1                       14.6  3207.0          1      2
            2                       14.6  3207.0          2      3
            3                       14.9  3207.0          3      7
            4                       13.9  3122.0          2      3

                     area_terreno  area_construida  ano_construcao  latitude  \
tipo        quartos
apartamento 1               745.0             44.0          1970.0 -37.85050
            2             15900.0            182.0          2015.0 -37.70446
            3              4668.0            287.0          2017.0 -37.69520
            4              3747.0            337.0          2016.0 -37.70060
            5               227.0            168.0          2013.0 -37.69786
casa        1               147.0            107.0          2000.0 -37.70250
            2              2701.0            300.0          2018.0 -37.69090
            3              8216.0            719.0          2017.0 -37.68660
            4              2187.0            411.0          2017.0 -37.69260
            5              2079.0            672.0          2016.0 -37.70280
            6              2051.0            449.0          1997.0 -37.72390
            7               637.0            529.0          2008.0 -37.75000
            8              1472.0            618.0          2009.0 -37.83850
kitnet      1              8223.0             77.5          2015.0 -37.71750
            2             15100.0            258.0          2014.0 -37.69830
            3              5042.0            250.0          2014.0 -37.69570
            4               241.0            180.0          2002.0 -37.77430

                     longitude Distancia  razao_area
tipo        quartos
apartamento 1        145.04590     Longa    0.059060
            2        145.11950     Longa    0.988235
            3        145.13710     Longa    0.975758
            4        145.13010     Longa    0.996403
            5        144.93330     Longa    0.811594
casa        1        145.02280     Longa    0.758621
            2        145.12784     Longa    0.995455
            3        145.13730     Longa    0.995406
            4        145.14334     Longa    0.989510
            5        145.13170     Longa    0.947814
            6        145.12826     Longa    0.620390
            7        145.09670     Longa    0.830455
            8        145.07880     Longa    0.419837
kitnet      1        145.06180     Longa    0.854839
            2        145.13840     Longa    0.989899
            3        145.13380     Longa    0.990338
            4        145.10930     Longa    0.869565

In [35]:
df.groupby(by = ['tipo', 'quartos', 'vagas']).max().preco.sort_values(ascending = False)

tipo         quartos  vagas
casa         5        4        8000000.0
             6        3        6500000.0
             3        2        6250000.0
             4        0        5700000.0
                      5        5500000.0
                                 ...
kitnet       3        0         580000.0
                      7         560000.0
             1        0         455000.0
                      2         350000.0
apartamento  1        1         345000.0
Name: preco, Length: 70, dtype: float64

In [41]:
df.groupby(by = ['tipo', 'quartos']).preco.describe()

                      count          mean           std        min        25%  \
tipo        quartos
apartamento 1           1.0  3.450000e+05           NaN   345000.0   345000.0
            2          57.0  7.092614e+05  2.407493e+05   380000.0   550500.0
            3         139.0  8.819399e+05  3.236793e+05   430000.0   697000.0
            4          42.0  1.168286e+06  4.698303e+05   600000.0   882250.0
            5           2.0  8.125000e+05  2.368808e+05   645000.0   728750.0
casa        1           8.0  8.517750e+05  3.317692e+05   260000.0   739925.0
            2         343.0  9.879258e+05  3.506039e+05   365000.0   758750.0
            3        1065.0  1.167121e+06  5.302197e+05   305000.0   796000.0
            4         643.0  1.648079e+06  7.766668e+05   131000.0  1100000.0
            5         156.0  2.135564e+06  1.001402e+06   605000.0  1488750.0
            6          14.0  2.205857e+06  1.474685e+06   725000.0  1436250.0
            7           3.0  1.701667e+06  7.794282e+05  1205000.0  1252500.0
            8           2.0  1.915500e+06  1.463004e+06   881000.0  1398250.0
kitnet      1          41.0  3.768049e+05  8.659495e+04   185000.0   325000.0
            2         231.0  5.871496e+05  1.721690e+05   266000.0   470500.0
            3          83.0  7.605542e+05  2.945745e+05   400000.0   552500.0
            4           2.0  1.201500e+06  6.342748e+05   753000.0   977250.0

                           50%        75%        max
tipo        quartos
apartamento 1         345000.0   345000.0   345000.0
            2         678000.0   800000.0  1540000.0
            3         825000.0   970000.0  2700000.0
            4        1102500.0  1311250.0  2900000.0
            5         812500.0   896250.0   980000.0
casa        1         885500.0   956875.0  1435000.0
            2         910000.0  1178500.0  2875000.0
            3        1060000.0  1425000.0  6250000.0
            4        1500000.0  2000500.0  5700000.0
            5        1917500.0  2600000.0  8000000.0
            6        1783000.0  2381250.0  6500000.0
            7        1300000.0  1950000.0  2600000.0
            8        1915500.0  2432750.0  2950000.0
kitnet      1         370000.0   426500.0   600000.0
            2         580000.0   660000.0  1260000.0
            3         725000.0   877500.0  2460000.0
            4        1201500.0  1425750.0  1650000.0